@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

body {
  background-color: #FAFAFA;
}

.root-hero .logo-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
}
@media screen and (max-width: 75rem) {
  .root-hero .logo-container {
    margin-top: 3rem;
  }
}

.root-hero .hero-container {
  margin-top: 3.8125rem;
  width: 100%;
  height: 22.375rem;
  display: flex;
  justify-content: center;
  gap: 5.5rem;
  overflow: hidden;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container {
    margin-top: 4rem;
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 0;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-hero .hero-container {
    margin-top: 3.375rem;
  }
}
.root-hero .hero-container::before, .root-hero .hero-container::after {
  content: "";
  height: 18.9375rem;
  width: calc(50% - 22.375rem);
  max-width: 24.625rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.root-hero .hero-container::before {
  background-image: url(/assets/desktop/image-hero-left.png);
  background-position: right center;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container::before {
    background-image: url(/assets/tablet/image-hero.png);
    width: 100%;
    max-width: unset;
    background-position: center center;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-hero .hero-container::before {
    height: 9.5625rem;
  }
}
.root-hero .hero-container::after {
  background-image: url(/assets/desktop/image-hero-right.png);
  background-position: left center;
  align-self: flex-end;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container::after {
    display: none;
  }
}
.root-hero .hero-container .content {
  width: 33.75rem;
  margin-top: 2.9375rem;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container .content {
    margin-top: 4.5rem;
    width: 28.5625rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-hero .hero-container .content {
    margin-top: 3rem;
    width: 87.2%;
  }
}
.root-hero .hero-container .title {
  margin: 0 auto;
  font-size: 4rem;
  line-height: 1;
  color: #28283D;
  text-align: center;
  font-weight: 900;
  max-width: 27.8125rem;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container .title {
    font-size: 3rem;
    max-width: 21.25rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-hero .hero-container .title {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}
.root-hero .hero-container .description {
  margin-top: 2.125rem;
  font-size: 1.125rem;
  line-height: 1.44;
  color: #87879D;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container .description {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.62;
  }
}
.root-hero .hero-container .cta-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 37.5rem) {
  .root-hero .hero-container .cta-buttons {
    flex-direction: column;
    align-items: center;
  }
}

.root-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 900;
  height: 3.625rem;
  color: #FAFAFA;
  cursor: pointer;
  padding: 0 2.5rem;
  border-radius: 999px;
}
.root-button em {
  margin-left: 0.25rem;
  color: #8FE3F9;
  font-style: normal;
}
.root-button.teal {
  background-color: #4D96A9;
}
.root-button.teal:hover {
  background-color: #71c0d4;
}
.root-button.teal em {
  color: #8FE3F9;
}
.root-button.purple {
  background-color: #855FB1;
}
.root-button.purple em {
  color: #d9b8ff;
}
.root-button.purple:hover {
  background-color: #b18bdd;
}
.root-button.small {
  padding: 0 1.8125rem;
}

.root-separator {
  width: 3.5rem;
  height: 8.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.root-separator .column {
  width: 0rem;
  height: 5.25rem;
  border-left: 1px solid rgba(135, 135, 157, 0.25);
}
.root-separator .circle {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  font-size: 1rem;
  font-weight: 900;
  color: #87879D;
  background-color: #FAFAFA;
}

.root-section-details {
  margin-top: 6.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 75rem) {
  .root-section-details {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-details {
    margin-top: 4rem;
  }
}
.root-section-details .gallery {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 77.08333%;
}
@media screen and (max-width: 75rem) {
  .root-section-details .gallery {
    width: 89.583%;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-details .gallery {
    flex-wrap: wrap;
    width: 87.2%;
  }
}
.root-section-details .gallery img {
  width: calc(25% - 1.40625rem);
  height: auto;
  border-radius: 0.5rem;
}
@media screen and (max-width: 75rem) {
  .root-section-details .gallery img {
    width: calc(25% - 0.515625rem);
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-details .gallery img {
    width: calc(50% - 0.78125rem);
  }
}
.root-section-details .header {
  margin-top: 5rem;
  max-width: 33.75rem;
  text-align: center;
}
@media screen and (max-width: 75rem) {
  .root-section-details .header {
    margin-top: 3rem;
    max-width: 35.8125rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-details .header {
    margin-top: 4rem;
    max-width: 87.2%;
  }
}
.root-section-details .subtitle {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.62;
  text-transform: uppercase;
  color: #4D96A9;
  letter-spacing: 4px;
}
.root-section-details .title {
  margin: 1rem auto 0 auto;
  font-size: 2.5rem;
  line-height: 1.1;
  color: #28283D;
  font-weight: 900;
  max-width: 27.8125rem;
}
@media screen and (max-width: 37.5rem) {
  .root-section-details .title {
    margin-top: 1.5rem;
    font-size: 2rem;
    line-height: 1.12;
  }
}
.root-section-details .description {
  margin-top: 2rem;
  font-size: 1.125rem;
  line-height: 1.44;
  color: #87879D;
  font-weight: 500;
}
@media screen and (max-width: 75rem) {
  .root-section-details .description {
    font-size: 1rem;
    line-height: 1.62;
  }
}

.root-section-cta {
  margin-top: 4.5rem;
  position: relative;
}
@media screen and (max-width: 75rem) {
  .root-section-cta {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-cta {
    margin-top: 4rem;
  }
}
.root-section-cta .sep-container {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}
.root-section-cta .header {
  margin-top: -1.75rem;
  position: relative;
  width: 100%;
  height: 19.25rem;
  padding: 7.25rem 11.458% 0 11.458%;
}
.root-section-cta .header::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(/assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  inset: 0 0 0 0;
}
@media screen and (max-width: 75rem) {
  .root-section-cta .header::after {
    height: auto;
    padding-top: 5.75rem;
    padding-bottom: 4.125rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-cta .header::after {
    padding-bottom: 4.5rem;
  }
}
@media screen and (max-width: 75rem) {
  .root-section-cta .header::after {
    background-image: url(/assets/tablet/image-footer.jpg);
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-cta .header::after {
    background-image: url(/assets/mobile/image-footer.jpg);
  }
}
.root-section-cta .header::before {
  content: "";
  display: block;
  inset: 0 0 0 0;
  background-color: #4D96A9;
  position: absolute;
  z-index: 1;
  opacity: 0.9;
}
.root-section-cta .header-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 75rem) {
  .root-section-cta .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.root-section-cta .header-container .title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  color: #FAFAFA;
  max-width: 21.875rem;
}
@media screen and (max-width: 75rem) {
  .root-section-cta .header-container .title {
    max-width: 28.5625rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-cta .header-container .title {
    font-size: 2rem;
    line-height: 1.125;
  }
}
.root-section-cta .header-container .description {
  max-width: 21.875rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4444444444;
  color: #FAFAFA;
  margin-left: 1.03125rem;
}
@media screen and (max-width: 75rem) {
  .root-section-cta .header-container .description {
    margin-left: 0;
    margin-top: 2rem;
    max-width: 35.8125rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-cta .header-container .description {
    margin-top: 1.5rem;
  }
}
.root-section-cta .header-container .root-button {
  margin-top: 0.9375rem;
}
@media screen and (max-width: 75rem) {
  .root-section-cta .header-container .root-button {
    margin-top: 2.5rem;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../styles/_html.scss%22,%22../../styles/_mixins.scss%22,%22../../styles/_hero.scss%22,%22../../styles/_button.scss%22,%22../../styles/_separator.scss%22,%22../../styles/_details.scss%22,%22../../styles/_cta.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAEQ;AAER;AAAA;AAAA;EAGE;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE,kBCmBM;;;ACxCR;EACE;EACA;EACA;EACA;EACA;;ADUA;ECfF;IAQI;;;;AAIJ;EACE;EDgBA,OCfc;EDgBd,QChBoB;EACpB;EACA;EACA;EACA;;ADHA;ECHF;IASI;IACA;IACA;IACA;IACA;;;ADVF;ECHF;IAiBI;;;AAGF;EAEE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;;AD7BF;EC2BA;IAKI;IACA;IACA;IACA;;;ADnCJ;EC2BA;IAYI;;;AAIJ;EACE;EACA;EACA;;AD9CF;EC2CA;IAMI;;;AAIJ;EACE;EACA;;ADvDF;ECqDA;IAKI;IACA;;;AD3DJ;ECqDA;IAUI;IACA;;;AAIJ;EACE;EACA;EACA;EACA,ODnDG;ECoDH;EACA;EACA;;AD3EF;ECoEA;IAUI;IACA;;;AD/EJ;ECoEA;IAeI;IACA;;;AAIJ;EACE;EACA;EACA;EACA,ODtEG;ECuEH;EACA;;AD9FF;ECwFA;IASI;IACA;IACA;;;AAIJ;EACE;EACA;EACA;EACA;;AD3GF;ECuGA;IAOI;IACA;;;;AC9HN;EACE;EACA;EACA;EACA;EACA;EACA;EACA,OFiCM;EE/BN;EACA;EACA;;AAEA;EACE;EACA,OFwBS;EEvBT;;AAGF;EACE,kBFcG;;AEZH;EACE;;AAGF;EACE,OFYO;;AERX;EACE,kBFGK;;AEDL;EACE;;AAGF;EACE;;AAIJ;EACE;;;AC5CJ;EH6BE,OG5Bc;EH6Bd,QG7BuB;EACvB;EACA;EACA;;AAEA;EHuBA,OGtBgB;EHuBhB,QGvBwB;EACtB;;AAGF;EHkBA,OGjBgB;EHkBhB,QGlByB;EACvB;EACA;EACA;EACA;EACA;EACA;EACA;EACA,OHiBG;EGhBH,kBHmBI;;;AIxCR;EACE;EACA;EACA;EACA;;AJWA;EIfF;IAOI;;;AJQF;EIfF;IAWI;;;AAGF;EACE;EACA;EACA;EACA;;AJHF;EIDA;IAOI;;;AJNJ;EIDA;IAWI;IACA;;;AAGF;EJAF,OICkB;EJAlB;EICI;;AJhBJ;EIcE;IAKI;;;AJnBN;EIcE;IASI;;;AAKN;EACE;EACA;EACA;;AJ/BF;EI4BA;IAMI;IACA;;;AJnCJ;EI4BA;IAWI;IACA;;;AAIJ;EACE;EACA;EACA;EACA;EACA,OJ9BG;EI+BH;;AAGF;EACE;EACA;EACA;EACA,OJpCG;EIqCH;EACA;;AJ3DF;EIqDA;IASI;IACA;IACA;;;AAIJ;EACE;EACA;EACA;EACA,OJlDG;EImDH;;AJzEF;EIoEA;IAQI;IACA;;;;AC5FN;EACE;EACA;;ALaA;EKfF;IAKI;;;ALUF;EKfF;IASI;;;AAGF;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;ELQF,OKPgB;ELQhB,QKRsB;EACpB;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;ALlBJ;EKUE;IAWI;IACA;IACA;;;ALvBN;EKUE;IAiBI;;;AL3BN;EKUE;IAqBI;;;AL/BN;EKUE;IAyBI;;;AAIJ;EACE;EACA;EACA;EACA,kBLxBC;EKyBD;EACA;EACA;;AAIJ;EACE;EACA;EACA;EACA;;ALtDF;EKkDA;IAOI;IACA;IACA;;;AAGF;EACE;EACA;EACA;EACA,OLzCE;EK0CF;;ALnEJ;EK8DE;IAQI;;;ALtEN;EK8DE;IAYI;IACA;;;AAIJ;EACE;EACA;EACA;EACA;EACA,OL3DE;EK4DF;;ALrFJ;EK+EE;IASI;IACA;IACA;;;AL1FN;EK+EE;IAeI;;;AAIJ;EACE;;ALnGJ;EKkGE;IAII%22,%22file%22:%22index.css%22%7D */
