@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.root-hero .logo-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
}
@media screen and (max-width: 75rem) {
  .root-hero .logo-container {
    margin-top: 3rem;
  }
}

.root-hero .hero-container {
  margin-top: 3.8125rem;
  width: 100%;
  height: 22.375rem;
  display: flex;
  justify-content: center;
  gap: 5.5rem;
  overflow: hidden;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container {
    margin-top: 4rem;
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 0;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-hero .hero-container {
    margin-top: 3.375rem;
  }
}
.root-hero .hero-container::before, .root-hero .hero-container::after {
  content: "";
  height: 18.9375rem;
  width: calc(50% - 22.375rem);
  max-width: 24.625rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.root-hero .hero-container::before {
  background-image: url(/assets/desktop/image-hero-left.png);
  background-position: right center;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container::before {
    background-image: url(/assets/tablet/image-hero.png);
    width: 100%;
    max-width: unset;
    background-position: center center;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-hero .hero-container::before {
    height: 9.5625rem;
  }
}
.root-hero .hero-container::after {
  background-image: url(/assets/desktop/image-hero-right.png);
  background-position: left center;
  align-self: flex-end;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container::after {
    display: none;
  }
}
.root-hero .hero-container .content {
  width: 33.75rem;
  margin-top: 2.9375rem;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container .content {
    margin-top: 4.5rem;
    width: 28.5625rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-hero .hero-container .content {
    margin-top: 3rem;
    width: 87.2%;
  }
}
.root-hero .hero-container .title {
  margin: 0 auto;
  font-size: 4rem;
  line-height: 1;
  color: #28283D;
  text-align: center;
  font-weight: 900;
  max-width: 27.8125rem;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container .title {
    font-size: 3rem;
    max-width: 21.25rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-hero .hero-container .title {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}
.root-hero .hero-container .description {
  margin-top: 2.125rem;
  font-size: 1.125rem;
  line-height: 1.44;
  color: #87879D;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 75rem) {
  .root-hero .hero-container .description {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.62;
  }
}
.root-hero .hero-container .cta-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 37.5rem) {
  .root-hero .hero-container .cta-buttons {
    flex-direction: column;
    align-items: center;
  }
}

.root-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 900;
  height: 3.625rem;
  color: #FAFAFA;
  cursor: pointer;
  padding: 0 2.5rem;
  border-radius: 999px;
}
.root-button.teal {
  background-color: #4D96A9;
}
.root-button.teal:hover {
  background-color: #71c0d4;
}
.root-button.teal em {
  margin-left: 0.25rem;
  color: #8FE3F9;
  font-style: normal;
}
.root-button.purple {
  background-color: #855FB1;
}
.root-button.purple:hover {
  background-color: #b18bdd;
}
.root-button.small {
  padding: 0 1.8125rem;
}

.root-separator {
  width: 3.5rem;
  height: 8.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.root-separator .column {
  width: 0rem;
  height: 5.25rem;
  border-left: 1px solid rgba(135, 135, 157, 0.25);
}
.root-separator .circle {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  font-size: 1rem;
  font-weight: 900;
  color: #87879D;
}

.root-section-details {
  margin-top: 6.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 75rem) {
  .root-section-details {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-details {
    margin-top: 4rem;
  }
}
.root-section-details .gallery {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 77.08333%;
}
@media screen and (max-width: 75rem) {
  .root-section-details .gallery {
    width: 89.583%;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-details .gallery {
    flex-wrap: wrap;
    width: 87.2%;
  }
}
.root-section-details .gallery img {
  width: calc(25% - 1.40625rem);
  height: auto;
  border-radius: 0.5rem;
}
@media screen and (max-width: 75rem) {
  .root-section-details .gallery img {
    width: calc(25% - 0.515625rem);
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-details .gallery img {
    width: calc(50% - 0.78125rem);
  }
}
.root-section-details .header {
  margin-top: 5rem;
  max-width: 33.75rem;
  text-align: center;
}
@media screen and (max-width: 75rem) {
  .root-section-details .header {
    margin-top: 3rem;
    max-width: 35.8125rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .root-section-details .header {
    margin-top: 4rem;
    max-width: 87.2%;
  }
}
.root-section-details .subtitle {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.62;
  text-transform: uppercase;
  color: #4D96A9;
  letter-spacing: 4px;
}
.root-section-details .title {
  margin: 1rem auto 0 auto;
  font-size: 2.5rem;
  line-height: 1.1;
  color: #28283D;
  font-weight: 900;
  max-width: 27.8125rem;
}
@media screen and (max-width: 37.5rem) {
  .root-section-details .title {
    margin-top: 1.5rem;
    font-size: 2rem;
    line-height: 1.12;
  }
}
.root-section-details .description {
  margin-top: 2rem;
  font-size: 1.125rem;
  line-height: 1.44;
  color: #87879D;
  font-weight: 500;
  max-width: 32.8125rem;
}
@media screen and (max-width: 75rem) {
  .root-section-details .description {
    font-size: 1rem;
    line-height: 1.62;
    max-width: unset;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../styles/_html.scss%22,%22../../styles/_hero.scss%22,%22../../styles/_mixins.scss%22,%22../../styles/_button.scss%22,%22../../styles/_separator.scss%22,%22../../styles/_details.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAQ;AAER;AAAA;AAAA;EAGE;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;ACfF;EACE;EACA;EACA;EACA;EACA;;ACUA;EDfF;IAQI;;;;AAIJ;EACE;ECgBA,ODfc;ECgBd,QDhBoB;EACpB;EACA;EACA;EACA;;ACHA;EDHF;IASI;IACA;IACA;IACA;IACA;;;ACVF;EDHF;IAiBI;;;AAGF;EAEE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;;AC7BF;ED2BA;IAKI;IACA;IACA;IACA;;;ACnCJ;ED2BA;IAYI;;;AAIJ;EACE;EACA;EACA;;AC9CF;ED2CA;IAMI;;;AAIJ;EACE;EACA;;ACvDF;EDqDA;IAKI;IACA;;;AC3DJ;EDqDA;IAUI;IACA;;;AAIJ;EACE;EACA;EACA;EACA,OCnDG;EDoDH;EACA;EACA;;AC3EF;EDoEA;IAUI;IACA;;;AC/EJ;EDoEA;IAeI;IACA;;;AAIJ;EACE;EACA;EACA;EACA,OCtEG;EDuEH;EACA;;AC9FF;EDwFA;IASI;IACA;IACA;;;AAIJ;EACE;EACA;EACA;EACA;;AC3GF;EDuGA;IAOI;IACA;;;;AE9HN;EACE;EACA;EACA;EACA;EACA;EACA;EACA,ODiCM;EC/BN;EACA;EACA;;AAEA;EACE,kBDoBG;;AClBH;EACE;;AAGF;EACE;EACA,ODiBO;EChBP;;AAIJ;EACE,kBDOK;;ACLL;EACE;;AAIJ;EACE;;;ACpCJ;EF6BE,OE5Bc;EF6Bd,QE7BuB;EACvB;EACA;EACA;;AAEA;EFuBA,OEtBgB;EFuBhB,QEvBwB;EACtB;;AAGF;EFkBA,OEjBgB;EFkBhB,QElByB;EACvB;EACA;EACA;EACA;EACA;EACA;EACA;EACA,OFiBG;;;AGrCP;EACE;EACA;EACA;EACA;;AHWA;EGfF;IAOI;;;AHQF;EGfF;IAWI;;;AAGF;EACE;EACA;EACA;EACA;;AHHF;EGDA;IAOI;;;AHNJ;EGDA;IAWI;IACA;;;AAGF;EHAF,OGCkB;EHAlB;EGCI;;AHhBJ;EGcE;IAKI;;;AHnBN;EGcE;IASI;;;AAKN;EACE;EACA;EACA;;AH/BF;EG4BA;IAMI;IACA;;;AHnCJ;EG4BA;IAWI;IACA;;;AAIJ;EACE;EACA;EACA;EACA;EACA,OH9BG;EG+BH;;AAGF;EACE;EACA;EACA;EACA,OHpCG;EGqCH;EACA;;AH3DF;EGqDA;IASI;IACA;IACA;;;AAIJ;EACE;EACA;EACA;EACA,OHlDG;EGmDH;EACA;;AH1EF;EGoEA;IASI;IACA;IACA%22,%22file%22:%22index.css%22%7D */
