@use './mixins' as *;

.root-section-details {
  margin-top: rem(110);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(tablet) {
    margin-top: rem(80);
  }

  @include media(mobile) {
    margin-top: rem(64);
  }

  .gallery {
    margin-top: rem(64);
    display: flex;
    justify-content: space-between;
    width: 77.08333%;

    @include media(tablet) {
      width: 89.583%;
    }

    @include media(mobile) {
      flex-wrap: wrap;
      width: 87.2%;
    }

    img {
      @include size(calc(25% - rem(22.5)), auto);
      border-radius: rem(8);

      @include media(tablet) {
        width: calc(25% - rem(8.25));
      }

      @include media(mobile) {
        width: calc(50% - rem(12.5));
      }
    }
  }

  .header {
    margin-top: rem(80);
    max-width: rem(540);
    text-align: center;

    @include media(tablet) {
      margin-top: rem(48);
      max-width: rem(573);
    }

    @include media(mobile) {
      margin-top: rem(64);
      max-width: 87.2%;
    }
  }

  .subtitle {
    font-size: rem(16);
    font-weight: 900;
    line-height: 1.62;
    text-transform: uppercase;
    color: $teal;
    letter-spacing: 4px;
  }

  .title {
    margin: rem(16) auto 0 auto;
    font-size: rem(40);
    line-height: 1.1;
    color: $dark;
    font-weight: 900;
    max-width: rem(445);

    @include media(mobile) {
      margin-top: rem(24);
      font-size: rem(32);
      line-height: 1.12;
    }
  }

  .description {
    margin-top: rem(32);
    font-size: rem(18);
    line-height: 1.44;
    color: $grey;
    font-weight: 500;    

    @include media(tablet) {
      font-size: rem(16);
      line-height: 1.62;      
    }
  }
}
