@use './mixins' as *;

.root-hero .logo-container {
  margin-top: rem(80);
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(28);

  @include media(tablet) {
    margin-top: rem(48);
  }
}

.root-hero .hero-container {
  margin-top: rem(61);
  @include size(100%, rem(358));
  display: flex;
  justify-content: center;
  gap: rem(88);
  overflow: hidden;

  @include media(tablet) {
    margin-top: rem(64);
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 0;
  }

  @include media(mobile) {
    margin-top: rem(54);
  }

  &::before,
  &::after {
    content: '';
    height: rem(303);
    width: calc(50% - rem(358));
    max-width: rem(394);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::before {
    background-image: url(/assets/desktop/image-hero-left.png);
    background-position: right center;

    @include media(tablet) {
      background-image: url(/assets/tablet/image-hero.png);
      width: 100%;
      max-width: unset;
      background-position: center center;
    }

    @include media(mobile) {
      height: rem(153);
    }
  }

  &::after {
    background-image: url(/assets/desktop/image-hero-right.png);
    background-position: left center;
    align-self: flex-end;

    @include media(tablet) {
      display: none;
    }
  }

  .content {
    width: rem(540);
    margin-top: rem(47);

    @include media(tablet) {
      margin-top: rem(72);
      width: rem(457);
    }

    @include media(mobile) {
      margin-top: rem(48);
      width: 87.2%;
    }
  }

  .title {
    margin: 0 auto;
    font-size: rem(64);
    line-height: 1;
    color: $dark;
    text-align: center;
    font-weight: 900;
    max-width: rem(445);

    @include media(tablet) {
      font-size: rem(48);
      max-width: rem(340);
    }

    @include media(mobile) {
      font-size: rem(40);
      line-height: 1.1;
    }
  }

  .description {
    margin-top: rem(34);
    font-size: rem(18);
    line-height: 1.44;
    color: $grey;
    font-weight: 500;
    text-align: center;

    @include media(tablet) {
      margin-top: rem(24);
      font-size: rem(16);
      line-height: 1.62;
    }
  }

  .cta-buttons {
    margin-top: rem(32);
    display: flex;
    justify-content: center;
    gap: rem(16);

    @include media(mobile) {
      flex-direction: column;
      align-items: center;
    }
  }
}
