@use 'sass:map';
@use 'sass:math';

@function rem($px) {
  $html-font-size: 16;
  @return #{math.div($px, $html-font-size)}rem;
}

$breakpoints: (
  small-mobile: rem(350),
  mobile: rem(600),
  tablet: rem(1200),
  laptop: rem(1440),
);

@mixin media($size) {
  $breakpoint: map.get($breakpoints, $size);
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin media-only-tablet() {
  $md: map.get($breakpoints, mobile);
  $lg: map.get($breakpoints, tablet);
  @media screen and (min-width: calc($md + 1px)) and (max-width: $lg) {
    @content;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

//color
$teal: #4D96A9;
$purple: #855FB1;
$dark: #28283D;
$grey: #87879D;
$light-purple: #D9B8FF;
$light-blue: #8FE3F9;
$light: #FAFAFA;
$grey-opaque: rgba(135, 135, 157, 0.25);